nav {
    background-color: #660099;
}

nav .brand-logo {
    font-family: 'Signika Negative', sans-serif;
    font-size: 40px;
    color: #FFF;
    margin: 0 25px;
}

nav a {
    color: #FFF;
}

nav ul a {
    /*background-color: #660099;*/
    color: #FFF;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

nav ul a:hover {
    background-color: #DA3B24;
}

.brand-logo:hover {
    color: #FFD700;
}

.side-nav a {
    color: #FFF;
    background-color: #660099;
}

.side-nav a:hover {
    background-color: #DA3B24;
}

.side-nav li>a>i.material-icons {
    color: #FFF;
}

#input_0 {
    position: absolute;
    width: 150px;
    height: 70px;
    margin: 0;
    padding-left: 75px;
}

#input_0:hover, #input_0:focus, #input_0:active {
    display: block;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    position: absolute;
}

nav .input-field label {
    color: #FFF;
    padding-left: 15px;
    text-decoration: underline;
    font-size: 16px;
}

nav .input-field label:hover {
    color: #FFF;
    text-decoration: none;
}

nav .input-field label.active {
    position: relative;
    padding: -100px;
    bottom: 0;
}

.wrap-header {
    background: #0C77CF;
}

#search-icon > a > i {
    /*margin-right: 200px;*/
    /*position: relative;*/
    /*right: 0;*/
}

.side-nav li>a>i.material-icons {
    visibility: hidden;
}

.spacing {
    margin-right: 150px;
    margin-left: -25px;
}

#search-btn {
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 15px;
}

.dropdown {

}