.registration-form {
    background: #efefef;
    padding: 40px;
    float:left;
    text-align: center;
    width: 500px;
    margin-top: 2px;
}

.registration-form h4 {
    margin: 0 0 50px 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

#password-user {
	border-bottom: 1px solid #000;
	color: #000;
}

#password-user:focus, #password-user:active {
    box-shadow: none;
}

.login-form {
    padding: 50px 0 0 200px;
    float:left;
    width: 500px;
    text-align: center;
}

.break {
    display: inline-block;
}
