.submission-form {
    background: #0C77CF;
    margin: auto;
    padding: 40px;
}

.submission-form h4 {
    margin: 0 0 50px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.form-wrap {
    width: 450px;
    margin: 0 auto;
}

label {
    float:left;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#input_2, input[type=file], #input_2:active, #input_2:focus, #input_2:hover {
    margin-left: 18px;
    position: relative;
    top: -5px;
    background: #FFF;
    padding: 10px;
}

#input_3, #input_4, input[type=text], input[type=text]:active, input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #FFF;
    color: #FFF;
    padding-left: 10px;
}

input[type=text]:focus:not([readonly])+label {
    color: #FFF;
}

col .input-field label:active {
    color: #FFF;
}

.description {
    height: 100px;
}

.button-wrap {
    margin: 20px auto -10px auto;
    text-align: center;
}

.btn {
    background-color: #006666;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover {
    background-color: #009999;
}

textarea {
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

@media screen and (max-width: 440px) {
    .form-wrap {
        width: 200px;
        padding: 0;
    }
    #input_2 {
        width: 110px;
        position: relative;
        top: 0;
    }
}